body {
  margin: 0;
  padding: 0;
}

.lite-page__header {
  background-color: #00CCBBE0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 62px;

  display: flex;
  align-items: center;    /* centers all children vertically */
  justify-content: flex-start;
  gap: 20px;              /* space between logo and search bar */
}

.lite-page__header-search-input-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}

.lite-page__header-search-input {
  margin: 0;
  transition: none;
  border: 0;
  width: 390px;
  max-width: 500px;
  height: 34px;
  line-height: 26px;
  border-radius: .125rem;
  background-color: #00CCBBE0;
  position: relative;
  padding: 0 30px 0 10px;
  font-size: .875rem;
}

.lite-page__header-logo-link {
  display: block;
  height: 100%;
  line-height: 62px;
  vertical-align: middle;
  padding: 0 20px 0 30px;
  margin-right: 10px;
}

.nova-legacy-l-flex__item {
  flex-basis: auto;
}

.brand img {
  margin-top: -5px;
}

img {
  vertical-align: middle;
  border: 0;
}

.lite-page__header-search {
  height: 62px;
}
.nova-legacy-o-pack--width-auto {
  width: auto;
}
.nova-legacy-o-pack--gutter-m {
  margin-left: -10px;
  margin-right: -10px;
}
.nova-legacy-o-pack {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.nova-legacy-o-pack--vertical-align-middle > .nova-legacy-o-pack__item {
  vertical-align: middle;
}
.nova-legacy-o-pack--gutter-m > .nova-legacy-o-pack__item {
  padding-left: 10px;
  padding-right: 10px;
}
.nova-legacy-o-pack > .nova-legacy-o-pack__item {
  display: table-cell;
  vertical-align: middle;
}

.lite-page__header-search-input {
  margin: 0;
  transition: none;
  border: 0;
  width: 390px;
  max-width: 500px;
  height: 34px;
  line-height: 26px;
  border-radius: .125rem;
  background-color: #A0DED9;
  position: relative;
  padding: 0 30px 0 10px;
  font-size: .875rem;
}

@media (min-width: 993px) {
  .lite-page__header-search .lite-page__header-search-button {
    border: none;
  }
}
.lite-page__header-search-button {
  position: absolute;
  right: 8px; /* inside the input */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nova-legacy-c-button--width-square.nova-legacy-c-button--size-s {
  width: 2.28571em;
}
.nova-legacy-c-button--color-white.nova-legacy-c-button--theme-ghost {
  border-color: #FFFFFF00;
  color: #FFFFFF00;
}
.nova-legacy-c-button--width-square {
  padding-left: 0;
  padding-right: 0;
  box-sizing: initial;
}
.nova-legacy-c-button--size-s {
  font-size: .875rem;
  padding: .5em 1em;
    padding-right: 1em;
    padding-left: 1em;
}
.brand-refresh .nova-legacy-c-button--radius-full, .brand-refresh .nova-legacy-c-button--radius-m, .nova-legacy-c-button--radius-full {
  border-radius: 9999px;
}
.nova-legacy-c-button--align-center {
  text-align: center;
}
.nova-legacy-c-button {
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
  background-color: initial;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  transition: .1s linear;
}

.nova-legacy-c-button--size-s .nova-legacy-c-button__label {
  line-height: 1.28571;
}
.nova-legacy-c-button__label {
  transition: transform .05s linear,opacity .05s linear;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.nova-legacy-c-button *, .nova-legacy-c-button ::after, .nova-legacy-c-button ::before {
  box-sizing: inherit;
}

.nova-legacy-e-icon--theme-bare {
  transform: scale(1.25);
}
.nova-legacy-e-icon--size-s {
  width: 1rem;
  height: 1rem;
}
.nova-legacy-e-icon {
  width: 1em;
  height: 1em;
  vertical-align: -.1875rem;
  display: inline-block;
  position: relative;
  overflow: visible;
  fill: currentColor;
}

.lite-page__header-search-button img {
  filter: brightness(0) invert(1); /* make the magnifying glass white */
  width: 16px;
  height: 16px;
}

.lite-page__header-search-or {
  vertical-align: text-bottom;
}
.nova-legacy-e-text--color-white, .nova-legacy-e-text--color-white:hover {
  color: var(--nova-color-white);
}
.brand-refresh .nova-legacy-e-text--spacing-none, .nova-legacy-e-text--spacing-none {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .nova-legacy-e-text--size-m {
    font-size: .875rem;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-e-text--size-l, .nova-legacy-e-text--size-m {
    font-size: .875rem;
  }
}
.nova-legacy-e-text {
  margin-top: 0;
  color: inherit;
  font-weight: 400;
  font-family: var(--nova-font-family-sans-serif);
  font-size: .875rem;
  line-height: 1.3;
  margin-bottom: 1.42857em;
}
