body {
  margin: 0;
  padding: 0;
    background-color: rgb(211, 211, 211); /* light grey */
  
}

.lite-page--grey-wide {
  background-color: gray;
}
.lite-page {
  position: relative;
}
.lite-page {
  min-height: 100%;
}

.lite-page__header {
  background-color: #00CCBBE0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 62px;

  display: flex;
  align-items: center;    /* centers all children vertically */
  justify-content: flex-start;
  gap: 20px;              /* space between logo and search bar */
}

.lite-page__header-search-input-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}

.lite-page__header-search-input {
  margin: 0;
  transition: none;
  border: 0;
  width: 390px;
  max-width: 500px;
  height: 34px;
  line-height: 26px;
  border-radius: .125rem;
  background-color: #00CCBBE0;
  position: relative;
  padding: 0 30px 0 10px;
  font-size: .875rem;
}

.lite-page__header-logo-link {
  display: block;
  height: 100%;
  line-height: 62px;
  vertical-align: middle;
  padding: 0 20px 0 30px;
  margin-right: 10px;
}

.nova-legacy-l-flex__item {
  flex-basis: auto;
}

.brand img {
  margin-top: -5px;
}

img {
  vertical-align: middle;
  border: 0;
}

.lite-page__header-search {
  height: 62px;
}
.nova-legacy-o-pack--width-auto {
  width: auto;
}
.nova-legacy-o-pack--gutter-m {
  margin-left: -10px;
  margin-right: -10px;
}
.nova-legacy-o-pack {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.nova-legacy-o-pack--vertical-align-middle > .nova-legacy-o-pack__item {
  vertical-align: middle;
}
.nova-legacy-o-pack--gutter-m > .nova-legacy-o-pack__item {
  padding-left: 10px;
  padding-right: 10px;
}
.nova-legacy-o-pack > .nova-legacy-o-pack__item {
  display: table-cell;
  vertical-align: middle;
}

.lite-page__header-search-input {
  margin: 0;
  transition: none;
  border: 0;
  width: 390px;
  max-width: 500px;
  height: 34px;
  line-height: 26px;
  border-radius: .125rem;
  background-color: #A0DED9;
  position: relative;
  padding: 0 30px 0 10px;
  font-size: .875rem;
}

@media (min-width: 993px) {
  .lite-page__header-search .lite-page__header-search-button {
    border: none;
  }
}
.lite-page__header-search-button {
  position: absolute;
  right: 8px; /* inside the input */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nova-legacy-c-button--width-square.nova-legacy-c-button--size-s {
  width: 2.28571em;
}
.nova-legacy-c-button--color-white.nova-legacy-c-button--theme-ghost {
  border-color: white;
  color: white;
}
.nova-legacy-c-button--width-square {
  padding-left: 0;
  padding-right: 0;
  box-sizing: initial;
}
.nova-legacy-c-button--size-s {
  font-size: .875rem;
  padding: .5em 1em;
    padding-right: 1em;
    padding-left: 1em;
}
.brand-refresh .nova-legacy-c-button--radius-full, .brand-refresh .nova-legacy-c-button--radius-m, .nova-legacy-c-button--radius-full {
  border-radius: 9999px;
}
.nova-legacy-c-button--align-center {
  text-align: center;
}
.nova-legacy-c-button {
  box-sizing: border-box;
  border: 1px solid #0080FF;
  outline: none;
  background-color: initial;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  transition: .1s linear;
}
.nova-legacy-c-button--size-s .nova-legacy-c-button__label {
  line-height: 1.28571;
}
.nova-legacy-c-button__label {
  transition: transform .05s linear,opacity .05s linear;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.nova-legacy-c-button *, .nova-legacy-c-button ::after, .nova-legacy-c-button ::before {
  box-sizing: inherit;
}

.nova-legacy-e-icon--theme-bare {
  transform: scale(1.25);
}
.nova-legacy-e-icon--size-s {
  width: 1rem;
  height: 1rem;
}
.nova-legacy-e-icon {
  width: 1em;
  height: 1em;
  vertical-align: -.1875rem;
  display: inline-block;
  position: relative;
  overflow: visible;
  fill: currentColor;
}

.lite-page__header-search-button img {
  filter: brightness(0) invert(1); /* make the magnifying glass white */
  width: 16px;
  height: 16px;
}

.lite-page__header-search-or {
  vertical-align: text-bottom;
}
.nova-legacy-e-text--color-white, .nova-legacy-e-text--color-white:hover {
  color: var(--nova-color-white);
}
.brand-refresh .nova-legacy-e-text--spacing-none, .nova-legacy-e-text--spacing-none {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .nova-legacy-e-text--size-m {
    font-size: .875rem;
  }
}


@media screen and (min-width: 0px) {
  .nova-legacy-e-text--size-l, .nova-legacy-e-text--size-m {
    font-size: .875rem;
  }
}
.nova-legacy-e-text {
  margin-top: 0;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
  font-size: .875rem;
  line-height: 1.3;
}

.lite-page__header-search-group {
  display: flex;
  align-items: center;
  gap: 12px; /* space between search bar and "or" */
}

.nova-legacy-c-button--size-s .nova-legacy-c-button__label {
  line-height: 1.28571;
}
.nova-legacy-c-button__label {
  transition: transform .05s linear,opacity .05s linear;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.nova-legacy-c-button *, .nova-legacy-c-button ::after, .nova-legacy-c-button ::before {
  box-sizing: inherit;
}


.lite-page__header-links {
  text-align: right;
  height: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
}

.lite-page__header-links li {
  display: inline-block;
  height: 100%;
}
@media (max-width: 1398px) {
  .lite-page__header-link {
    padding: 0 15px;
  }
}
.lite-page__header-link {
  display: block;
  padding: 0 30px;
  height: 100%;
  line-height: 62px;
  vertical-align: middle;
  font-weight: 700;
  background-color: #00CCBB;
  color: white;
  border-left: 1px solid #035C5A;
  text-decoration: none;
  font-size: .800rem;
  cursor: pointer;
  font-family: Arial;
}

.lite-page__header-links li {
  display: inline-block;
  height: 100%;
}

.lite-page__header-login {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 1200px) and (max-width: 1430px) {
  .lite-page--grey-wide .lite-page__above {
    margin: 20px auto;
  }
}
.lite-page--grey-wide .lite-page__above {
  box-sizing: border-box;
  margin: 20px 0;
  min-height: 40px;
}
.lite-page__above {
  margin: 20px 0;
}

.publication.lite-page--header-ad-collapsed .lite-page__main {
  padding-top: 20px;
}
.lite-page--grey-wide .lite-page__main {
  justify-content: normal;
  margin-top: -1px;
  padding: 0;
    padding-top: 0px;
}
.lite-page__main {
  display: flex;
  justify-content: center;
  padding: 82px 20px 20px; /* top = header height (62px) + 20px spacing */
  background-color: #DDDD; /* main area white */
  min-height: calc(100vh - 82px); /* ensures full viewport height minus header */
  box-shadow: 0 1px 6px rgba(0,0,0,.13), 0 3px 6px rgba(0,0,0,.09);
  border-radius: 4px;
}


@media only screen and (min-width: 1200px) and (max-width: 1430px) {
  .lite-page--grey-wide .lite-page__below, .lite-page--grey-wide .lite-page__content {
    max-width: calc(100% - 482px);
  }
}
.lite-page--grey-wide .lite-page__content {
  box-sizing: border-box;
  margin: 0;
  max-width: 1020px;
}
.lite-page__content {
  width: 100%;
  flex-grow: 1;
  max-width: 1000px;
  margin-right: 395px;
}

.research-detail-header-section {
  background-color: white;
  padding: 20px 32px 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.13),0 3px 6px rgba(0,0,0,.09);
}

.nova-legacy-e-badge--color-green.nova-legacy-e-badge--theme-solid.nova-legacy-e-badge--luminosity-high {
  background-color: #C5E8E5;
  color: #007478;
}
.nova-legacy-e-badge--size-l.nova-legacy-e-badge--theme-ghost, .nova-legacy-e-badge--size-l.nova-legacy-e-badge--theme-solid {
  font-size: .875rem;
  padding-top: .286em;
  padding-bottom: .286em;
  margin-top: -.286em;
  margin-bottom: -.286em;
}
.research-detail-header-section__badge {
  margin: 2.5px 5px 2.5px 0;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
.nova-legacy-e-badge--radius-m {
  border-radius: 2px;
}
.nova-legacy-e-badge {
  outline: none;
  border: 0;
  box-sizing: border-box;
  font-size: .875em;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.3;
  min-height: 1em;
  color: white;
  display: inline-block;
  padding: .16em .5714em;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
  margin: -.16em 0;
  border-radius: 624.9375rem;
  white-space: nowrap;
  min-width: 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: .125rem;
}

.nova-legacy-e-badge--radius-m {
  border-radius: 2px;
}

.nova-legacy-e-badge--color-green.nova-legacy-e-badge--theme-ghost.nova-legacy-e-badge--luminosity-medium {
  background-color: #0000;
  color: rgb(3, 92, 90);
  box-shadow: inset 0 0 0 1px rgb(3, 92, 90);
}

.research-detail-header-section__flex-container {
  display: flex;
  justify-content: space-between;
}

.research-detail-header-section__ie11 {
  width: 100%;
}


.research-detail-header-section__title {
  padding: 10px 0 5px;
}
.nova-legacy-e-text--color-grey-900, .nova-legacy-e-text--color-grey-900:hover {
  color: #111111;
}

.nova-legacy-e-text--family-display {
  font-family: sans-serif;
}
.nova-legacy-e-text--size-xl {
  line-height: 1.2;
  margin-bottom: .90909em;
}
@media screen and (min-width: 992px) {
  .nova-legacy-e-text--size-xl {
    font-size: 1.375rem;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-e-text--size-xl {
    font-size: 1.1875rem;
  }
}

.nova-legacy-e-link--theme-bare {
  text-decoration: none;
}
.nova-legacy-e-link {
  color: inherit;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: sans-serif;
  font-weight: inherit;
  border: 0;
  background: none;
  cursor: pointer;
  text-align: inherit;
  display: inline;
}


.nova-legacy-l-flex__item {
  flex-basis: auto;
}

@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--wrap-nowrap\@s-up {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--justify-content-flex-start\@s-up {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--align-items-center\@s-up {
    align-items: center;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--direction-row\@s-up {
    flex-direction: row;
  }
}
.nova-legacy-l-flex--gutter-xxs {
  margin: -2.5px 0 -2.5px -5px;
}
.nova-legacy-l-flex {
  display: flex;
}
.nova-legacy-e-text--clamp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.research-detail-header-section__metadata-after-square-logo {
  padding-top: 5px;
}
.nova-legacy-e-text--color-grey-700, .nova-legacy-e-text--color-grey-700:hover {
  color: #555555;
}
.nova-legacy-e-text--spacing-xxs {
  margin-bottom: 5px;
}
.nova-legacy-e-list--type-inline, ol.nova-legacy-e-list--type-inline, ul.nova-legacy-e-list--type-inline {
  list-style: none;
  margin-left: 0;
}
.nova-legacy-e-list--type-unordered, ul.nova-legacy-e-list {
  list-style-type: disc;
}
.nova-legacy-e-list--spacing-none {
  margin-bottom: 0;
}

.nova-legacy-e-list {
  padding-left: 0;
  list-style-position: outside;
  font-weight: 400;
  color: inherit;
  font-family: sans-serif;
  font-size: .875rem;
  margin: 0 0 1.42857em 1.2em;
    margin-bottom: 1.42857em;
    margin-left: 1.2em;
  line-height: 1;
}
fieldset, ol, td, th, ul {
  padding: 0;
  padding-left: 0px;
}

.nova-legacy-e-list--type-inline > .nova-legacy-e-list__item, ol.nova-legacy-e-list--type-inline > .nova-legacy-e-list__item, ul.nova-legacy-e-list--type-inline > .nova-legacy-e-list__item {
  display: inline;
}
.nova-legacy-e-list__item:not(:last-child) {
  margin-bottom: .5em;
}
.nova-legacy-e-list__item {
  line-height: 1.3;
}
.nova-legacy-e-link--theme-decorated, .nova-legacy-e-link--theme-decorated:hover {
  text-decoration: underline;
}
research-detail-author-list__label {
  font-weight: 700;
  margin: 10px 0;
}
@media screen and (min-width: 992px) {
  .research-detail-author-list__list {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .research-detail-author-list__list {
    margin-bottom: 5px;
  }
}
.research-detail-author-list__list {
  padding: 5px 0 10px;
  width: 100%;
}

@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--wrap-wrap\@s-up {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .nova-legacy-l-flex--align-items-center\@m-up {
    align-items: center;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--align-items-flex-start\@s-up {
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .nova-legacy-l-flex--direction-row\@m-up {
    flex-direction: row;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--direction-column\@s-up {
    flex-direction: column;
  }
}
.nova-legacy-l-flex--gutter-m {
  margin: -10px 0 -10px -20px;
    margin-bottom: -10px;
}
.nova-legacy-l-flex--gutter-m > .nova-legacy-l-flex__item {
  padding: 10px 0 10px 20px;
}
@media screen and (min-width: 1201px) {
  .research-detail-author-list__item--has-image {
    max-width: 340px;
  }
}
.research-detail-author-list__item--has-image {
  max-width: 100%;
}

.nova-legacy-v-person-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

@media screen and (min-width: 0px) {
  .nova-legacy-l-flex--align-items-stretch\@s-up {
    align-items: stretch;
  }
}
.nova-legacy-l-flex--gutter-xs {
  margin: -5px 0 -5px -10px;
}
.lite-page-avatar--radius-full, .lite-page-avatar--radius-full .lite-image {
  border-radius: 624.9375rem;
}
.lite-page-avatar--size-m {
  width: 48px;
  height: 48px;
}
.lite-page-avatar {
  position: relative;
  overflow: hidden;
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
}
.nova-legacy-l-flex--gutter-xs > .nova-legacy-l-flex__item {
  padding: 5px 0 5px 10px;
}
.nova-legacy-v-person-list-item__body {
  overflow: hidden;
}
.nova-legacy-l-flex__item--grow {
  flex-grow: 1;
  min-width: 0;
}
.nova-legacy-v-person-list-item__align {
  display: flex;
  align-items: center;
}
.nova-legacy-v-person-list-item__align-content {
  overflow: hidden;
}
.nova-legacy-v-person-list-item__title {
  font-weight: 700;
  color: gray;
}
.nova-legacy-e-text--color-inherit {
  color: inherit;
}
.nova-legacy-v-person-list-item__meta {
  color: #777777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.research-detail-header-cta {
  padding: 0 0 0 30px;
  width: 362px;
}
.nova-legacy-c-card--elevation-none {
  box-shadow: 0 0 0 0 transparent;
  border-radius: .125rem;
  border: 1px solid #DDDDDD;
}
.nova-legacy-c-card {
  box-shadow: 0 0 2px rgba(0,0,0,.18),0 1px 3px rgba(0,0,0,.12);
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: sans-serif;
  max-width: 100%;
  width: auto;
}
@media screen and (min-width: 0px) {
  .nova-legacy-c-card .nova-legacy-c-card__body--spacing-none {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .nova-legacy-c-card--spacing-l > .nova-legacy-c-card__body {
    padding: 25px;
  }
}
@media screen and (min-width: 768px) {
  .nova-legacy-c-card--spacing-l > .nova-legacy-c-card__body {
    padding: 20px;
  }
}
@media screen and (min-width: 0px) {
  .nova-legacy-c-card--spacing-l > .nova-legacy-c-card__body {
    padding: 15px;
  }
}
.nova-legacy-c-card__body {
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.research-detail-header-cta__flex-container {
  display: flex;
  align-items: center;
}
.research-detail-header-cta__img--download {
  position: relative;
  padding-bottom: 10px;
}
.research-detail-header-cta__img {
  padding: 20px 10px 17px 15px;
    padding-bottom: 17px;
}
.nova-legacy-v-publication-item__preview-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 110px;
  overflow: hidden;
  border: 0;
  border-radius: .125rem;
  margin-bottom: 10px;
  outline: none;
  padding: 0;
  background: none;
  z-index: 0;
}
.research-detail-header-cta__ie11 {
  width: 100%;
}
.research-detail-header-cta__buttons {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 20px 10px;
}
.nova-legacy-c-button--color-blue.nova-legacy-c-button--theme-solid {
  background-color: #0080FF;
  border-color: #0080FF;
  color: white;
}
.research-detail-header-cta__buttons > a, .research-detail-header-cta__buttons > button {
  flex-grow: 0;
  margin: 5px 0 10px;
}
.nova-legacy-c-button--width-full {
  width: 100%;
}
.nova-legacy-c-button--size-m {
  font-size: .875rem;
  padding: .78571em 2em;
}
.nova-legacy-c-button--radius-m {
  border-radius: 2px;
}
.nova-legacy-c-button--size-m .nova-legacy-c-button__label {
  line-height: 1.28571;
}
.nova-legacy-c-button__icon + .nova-legacy-c-button__label {
  margin-left: .6em;
}
.nova-legacy-c-button--align-left {
  text-align: left;
}
.research-resources-summary {
  height: 52px;
  position: relative;
}
.research-resources-summary__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 90;
  box-sizing: border-box;
  padding: 0 0 10px;
  background: white;
  transform: translateZ(0);
}
.research-resources-summary__actions {
  width: 100%;
}


.research-resources-summary__menubar {
  border-top: 1px solid #DDDDDD;
  margin-top: 10px;
}

.research-resources-summary__menubar-inner {
  margin-left: -20px;
}

.nova-legacy-c-nav--direction-horizontal {
  height: 3.875rem;
}
.nova-legacy-c-nav {
  background: white;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nova-legacy-c-nav__wrapper {
  display: flex;
  overflow: hidden;
}

.nova-legacy-c-nav--direction-horizontal .nova-legacy-c-nav__items {
  flex-direction: row;
  max-height: 7.75rem;
  height: auto;
}
.nova-legacy-c-nav__items {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.research-resources-summary__menubar .nova-legacy-c-nav__item {
  color: #0080FF;
}
.nova-legacy-c-nav--direction-horizontal .nova-legacy-c-nav__item {
  height: 3.875rem;
}
.nova-legacy-c-nav__item {
  color: #0080FF;
}
.nova-legacy-c-nav__item {
  padding: .9375rem 1.25rem;
  box-sizing: border-box;
  color: #555555;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: left;
  background: none;
  border: 0;
  flex-shrink: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.research-resources-summary .nova-legacy-c-button__label {
  font-family: sans-serif;
  color: #0080FF;
}

.retraction-notice {
  display: flex;
  align-items: flex-start;
  background-color: #f8faff;
  border: 1px solid #0078d4;
  border-left: 5px solid #0078d4;
  border-radius: 6px;
  padding: 16px 20px;
  margin: 20px 0;
  font-family: sans-serif;
  color: #333;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.retraction-notice__icon {
  flex-shrink: 0;
  color: #0078d4;
  font-size: 22px;
  margin-right: 12px;
  margin-top: 2px;
}

.retraction-notice__details {
  flex: 1;
}

.retraction-notice__summary {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.95rem;
  color: #004a9f;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.retraction-notice__summary i {
  margin-right: 6px;
  transition: transform 0.2s ease;
}

.retraction-notice__summary:hover {
  text-decoration: underline;
}

.retraction-notice__body {
  margin-top: 8px;
  font-size: 0.9rem;
  line-height: 1.6;
}

.retraction-notice__link a {
  font-weight: 600;
  color: #004a9f;
  text-decoration: none;
}

.retraction-notice__link a:hover {
  text-decoration: underline;
}

.retraction-notice__footer {
  font-size: 0.85rem;
  color: #555;
  font-style: italic;
  margin-top: 10px;
}

